#about-me-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/about-me.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.about-me-content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: end;
}

.about-me-content h1 {
  font-size: 60px;
  font-weight: bold;
  color: #f0ebe5;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.about-me-content p {
  font-size: 20px;
  color: #f0ebe5;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
