#contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Phone-call.jpg");
  min-height: 70vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-content {
  padding: 30px;
  display: flex;
  width: 50%;
}

.contacto-content h1 {
  font-size: 60px;
  color: #f0ebe5;
  text-align: center;
}
#mc_embed_signup_scroll h2 {
  padding: 30px;
}
#mc_embed_shell {
  background-color: #f0ebe5;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
}
#mc_embed_signup {
  text-align: center;
}
.mc-field-group {
  margin: 15px;
  padding: auto;
}

.button {
  border-radius: 10px;
}
.button:hover {
  background-color: black;
  color: #f0ebe5;
}
.clear-foot {
  padding: 20px;
}
