#contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url("../images/Contact\ img.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.contacto-content {
  padding: 30px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.contacto-content h1 {
  font-size: 60px;
  color: #f0ebe5;
  text-align: center;
  margin: 40px;
}
#mc_embed_shell {
  color: #4a6fa5;
  background-color: #f0ebe5;
  font-family: "Montserrat", serif;
  font-size: 20px;
  border-radius: 10px;
}
#mc_embed_shell form {
  margin-top: 20px;
}
#mc_embed_signup {
  text-align: center;
  display: flex;
}
.mc-field-group {
  margin: 15px;
  padding: auto;
}
.mc-field-group input {
  font-family: "Montserrat", serif;
  font-size: 25px;
}
.button {
  background-color: #f0ebe5;
  border: #4a6fa5 solid 2px;
  width: 25%;
  padding: 5px;
  color: #4a6fa5;
  border-radius: 24px;
  height: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}
.button:hover {
  background-color: #4a6fa5;
  color: #f0ebe5;
  border: #4a6fa5;
}
.clear-foot {
  padding: 20px;
}
