#services {
  padding: 140px 5% 90px;
  background-color: #f0ebe5;
}

.services-header {
  text-transform: uppercase;
  padding: 1rem 0 2.5rem;
  font-size: 1.8rem;
  color: #263e4a;
}
.seguros-personales-header {
  text-transform: uppercase;
  padding: 1rem 0 2.5rem;
  font-size: 1rem;
}

.grid-services-container {
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18rem 18rem 18rem 18rem 18rem;
  grid-template-areas:
    "vertical-img-1 horizontal-img-1 horizontal-img-1"
    "vertical-img-1 single-1 single-2"
    "single-3 single-4 vertical-img-2"
    "horizontal-img-2 horizontal-img-2 vertical-img-2"
    "horizontal-img-3 horizontal-img-3 horizontal-img-3";
}

.grid-services-container .grid-card,
.grid-services-container-empresariales .grid-card {
  display: flex;
  padding: 2rem;
  row-gap: 1.5rem;
  color: #23231e;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.5s ease;
}

.grid-services-container .grid-card:hover,
.grid-services-container-empresariales .grid-card:hover {
  transform: scale(1.04);
}

.grid-services-container .grid-card.with-image,
.grid-services-container-empresariales .grid-card.with-image {
  overflow: hidden;
  padding: 0;
  row-gap: 0;
}

.grid-services-container .item-1 {
  grid-area: vertical-img-1;
  background-color: #dea54b;
}

.grid-services-container .item-2 {
  grid-area: horizontal-img-1;
  background-color: #0f262f;
}

.grid-services-container .item-2 .grid-card-text {
  color: white !important;
}

.grid-services-container .item-3 {
  grid-area: single-1;
  background-color: #ebebdc;
}

.grid-services-container .item-4 {
  grid-area: single-2;
  background-color: #005b5c;
}

.grid-services-container .item-5 {
  grid-area: single-3;
  background-color: #faf0b9;
}

.grid-services-container .item-6 {
  grid-area: single-4;
  background-color: #163441;
}

.grid-services-container .item-7 {
  grid-area: vertical-img-2;
  background-color: #fdf9e0;
}

.grid-services-container .item-8 {
  grid-area: horizontal-img-2;
  background-color: #ebebdc;
}

.grid-services-container .item-9 {
  grid-area: horizontal-img-3;
  background-color: #fac898;
}

.item-horizontal {
  flex-direction: row !important;
}

.grid-card-text.vertical {
  height: 60%;
  width: 100%;
}

.grid-card-text.horizontal {
  width: 50%;
  height: 100%;
}

.grid-card .grid-card-icon {
  height: 40px;
}

.grid-card h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 83%;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.grid-card p {
  font-size: 1rem;
  line-height: 1.2;
}

.grid-card-image {
  background-size: cover;
  background-position: center;
}

.grid-card-image.vertical {
  height: 40%;
  width: 100%;
}

.grid-card-image.horizontal {
  height: 100%;
  width: 50%;
}

.shadow-large {
  box-shadow: 0 12px 16px -2px #00000014, 0 8px 8px -4px #00000008;
}

.seguros-empresariales-header {
  text-transform: uppercase;
  padding: 2rem 0 2.5rem;
  font-size: 1rem;
}

/* Nuevo Grid para los seguros empresariales */

.grid-services-container-empresariales {
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18rem 18rem;
  grid-template-areas:
    "single-emp-1 horizontal-emp-img-1 horizontal-emp-img-1"
    "horizontal-emp-img-2 horizontal-emp-img-2 horizontal-emp-img-2";
}

.grid-services-container-empresariales .item-emp-1 {
  grid-area: single-emp-1;
  background-color: #005b5c;
}

.grid-services-container-empresariales .item-emp-1 .grid-card-text {
  color: white !important;
}

.grid-services-container-empresariales .item-emp-2 {
  grid-area: horizontal-emp-img-1;
  background-color: #fdf9e0;
}

.grid-services-container-empresariales .item-emp-3 {
  grid-area: horizontal-emp-img-2;
  background-color: #97b4de;
}

.call-to-action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.hero-button {
  background-color: #263e4a;
  border: #263e4a solid 2px;
  padding: 0.75rem 1.5rem;
  border-radius: 32px;
  width: max-content;
  cursor: pointer;
  color: #f0ebe5;

  font-size: 1.25rem;
  text-align: center;
  line-height: 120%;
  font-weight: 600;

  transition: transform 0.2s ease-in-out;
}

.hero-button:hover {
  background-color: #f0ebe5;
  color: #263e4a;
}

/* Media Query for Medium Screens (768px - 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .grid-services-container {
    /* TO DO */

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18rem 18rem 18rem 18rem 18rem 18rem 18rem 18rem;
    grid-template-areas:
      "vertical-img-1 horizontal-img-1"
      "vertical-img-1 horizontal-img-1"
      "single-2 single-1"
      "single-3 single-4"
      "vertical-img-2 horizontal-img-2"
      "vertical-img-2 horizontal-img-2"
      "horizontal-img-3 null"
      "horizontal-img-3 null";
  }

  .grid-services-container-empresariales {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18rem 18rem 18rem;
    grid-template-areas:
      "single-emp-1 single-emp-1"
      "horizontal-emp-img-1 horizontal-emp-img-2"
      "horizontal-emp-img-1 horizontal-emp-img-2";
  }

  .item-horizontal {
    flex-direction: column !important;
  }

  .grid-card-text.horizontal {
    height: 60% !important;
    width: 100% !important;
  }

  .grid-card-image.horizontal {
    height: 40% !important;
    width: 100% !important;
  }
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .grid-services-container {
    /* TO DO */
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 18rem 18rem 18rem 18rem 18rem 18rem 18rem 18rem 18rem 18rem 18rem 18rem 18rem;
    grid-template-areas:
      "vertical-img-1"
      "vertical-img-1"
      "horizontal-img-1"
      "horizontal-img-1"
      "single-1"
      "single-2"
      "single-3"
      "vertical-img-2"
      "vertical-img-2"
      "single-4"
      "horizontal-img-2"
      "horizontal-img-2"
      "horizontal-img-3"
      "horizontal-img-3";
  }

  .grid-services-container-empresariales {
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 18rem 18rem 18rem 18rem;
    grid-template-areas:
      "single-emp-1"
      "horizontal-emp-img-1"
      "horizontal-emp-img-1"
      "horizontal-emp-img-2"
      "horizontal-emp-img-2";
  }

  .item-horizontal {
    flex-direction: column !important;
  }

  .grid-card-text.horizontal {
    height: 60% !important;
    width: 100% !important;
  }

  .grid-card-image.horizontal {
    height: 40% !important;
    width: 100% !important;
  }
}
