.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 15px 10%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 24px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.04),
    0 6px 4px -1px rgba(0, 0, 0, 0.04), 0 4px 6px -2px rgba(0, 0, 0, 0.08);
}

#navbar-content img {
  height: 50px;
  width: auto;
}

.navbar {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar a {
  color: #003049;
  font-size: 18px;
  text-decoration: none;
  text-align: end;
  margin-left: 40px;
}

#hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  height: 100vh;
  width: 100%;
  background-color: #003049;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 30px;
  color: white;
}

.hero-img {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.hero-img img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

#hero-section h1 {
  margin-bottom: 10px;
  font-size: 60px;
}

#hero-section h2 {
  margin-bottom: 18px;
}

.hero-text button {
  background-color: #faed26;
  width: 20%;
  padding: 5px;
  border: #faed26 solid 2px;
  border-radius: 24px;
  height: 48px;
}

#carrousel-section {
  background-color: beige;
  height: 250px;
}

#carrousel-section h3 {
  color: #003049;
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
}
.carrousel-cards {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.cards {
  width: 10%;
  height: 10%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background: blue;
}
.cards img {
  width: 300px;
}
.group {
  height: 130px;
  display: flex;
  gap: 120px;
  padding-right: 20px;

  will-change: transform;
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#steps-section {
  background-color: white;
  min-height: 90vh;
  height: 100vh;
  width: 100%;
  padding: 30px;
}

#steps-section h2 {
  padding-top: 60px;
  margin-left: 30px;
  font-size: 16px;
}

#steps-section h1 {
  padding-top: 30px;
  margin-left: 30px;
  font-size: 54px;
}

#steps-section h3 {
  font-size: 28px;
  padding-bottom: 10px;
}

#steps-section p {
  font-size: 18px;
}

.step-images {
  height: 10vh;
  padding-bottom: 10px;
}

.step-cards {
  display: flex;
  display: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 110px 0;
}

#first-step-card,
#second-step-card,
#third-step-card {
  border: solid 2px transparent;
  border-radius: 24px;
  padding: 0px 70px 70px 70px;
  text-align: left;
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.04),
    0 6px 4px -1px rgba(0, 0, 0, 0.04), 0 4px 6px -2px rgba(0, 0, 0, 0.08);
}

#newsletter-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/newsletter.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#newsletter-section h1 {
  margin-top: 170px;
  padding: 20px;
  font-size: 40px;
  color: white;
}

#newsletter-section h2 {
  padding: 20px;
  font-size: 14px;
  color: white;
}

#newsletter-section input {
  height: 16px;
  font-size: 16px;
  padding: 20px 16px 20px 14px;
  margin-top: 30px;
}

#newsletter-section button {
  margin-top: 30px;
  height: 48px;
  margin-top: 30px;
  border: #faed26 solid 2px;
  background-color: #faed26;
  border-radius: 100px;
  padding-left: 50px;
  padding-right: 50px;
  width: auto;
}
