.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 15px 10%;
  background-color: hsla(0, 0%, 100%, 0.85);
  border-radius: 24px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.04),
    0 6px 4px -1px rgba(0, 0, 0, 0.04), 0 4px 6px -2px rgba(0, 0, 0, 0.08);
}

#navbar-content img {
  height: 50px;
  width: auto;
}

.navbar {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar a {
  color: #4a6fa5;
  font-size: 18px;
  text-decoration: none;
  text-align: end;
  margin-left: 40px;
}

.navbar a:hover {
  color: #dcd0be;
  transform: rotate(360deg);
  transition-duration: 1.5s;
}

#hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  height: 100vh;
  width: 100%;
  background-color: #4a6fa5;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 30px;
  color: white;
}

.hero-img {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.hero-img img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

#hero-section h1 {
  margin-bottom: 10px;
  font-size: 60px;
  color: #f0ebe5;
}

#hero-section h2 {
  margin-bottom: 18px;
  color: #f0ebe5;
}

.hero-text button {
  background-color: #dcd0be;
  width: 20%;
  padding: 5px;
  border: #dcd0be solid 2px;
  border-radius: 24px;
  height: 48px;
}
#hero-section button:hover {
  background-color: #f0ebe5;
  color: #4a6fa5;
  border: #f0ebe5;
}

#carrousel-section {
  background-color: #dcd0be;
  height: 250px;
}

#carrousel-section h3 {
  color: #4a6fa5;
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
}

.carrousel-cards {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.group {
  display: flex;
  margin: 0 60px;
  height: 130px;
  gap: 120px;

  will-change: transform;
  animation: scrolling 30s linear infinite;
}

.cards {
  width: 10%;
  height: 11rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards img {
  width: 300px;
}

.gnp-svg {
  height: 5.2rem;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#steps-section {
  background-color: #f0ebe5;
  min-height: 90vh;
  height: 100vh;
  width: 100%;
  padding: 30px;
}

#steps-section h2 {
  color: #4a6fa5;
  text-shadow: 2px 2px #dcd0be;
  padding-top: 60px;
  margin-left: 30px;
  font-size: 16px;
}

#steps-section h1 {
  color: #4a6fa5;
  padding-top: 30px;
  margin-left: 30px;
  font-size: 54px;
  text-shadow: 2px 3px #dcd0be;
}

#steps-section h3 {
  font-size: 28px;
  padding-bottom: 10px;
}

#steps-section p {
  font-size: 18px;
}

.step-images {
  height: 10vh;
  padding-bottom: 10px;
}

.step-cards {
  display: flex;
  display: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 110px 0;
}

#first-step-card,
#second-step-card,
#third-step-card {
  border: solid 2px transparent;
  border-radius: 24px;
  padding: 0px 70px 70px 70px;
  text-align: left;
}

#newsletter-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/newsletter.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#newsletter-section h1 {
  margin-top: 170px;
  padding: 20px;
  font-size: 40px;
  color: #dcd0be;
}

#newsletter-section h2 {
  padding: 20px;
  font-size: 14px;
  color: #f0ebe5;
}

#newsletter-section input {
  height: 16px;
  font-size: 16px;
  padding: 20px 16px 20px 14px;
  margin-top: 30px;
}

#newsletter-section button {
  color: #2a2829;
  margin-top: 30px;
  height: 48px;
  margin-top: 30px;
  border: #dcd0be 2px;
  background-color: #dcd0be;
  border-radius: 100px;
  padding-left: 50px;
  padding-right: 50px;
  width: auto;
}
#newsletter-section button:hover {
  background-color: #4a6fa5;
  color: #f0ebe5;
}

#footer-section {
  background-color: #2a2829;
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
}

.inner-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.inner-footer .logo-container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner-footer .logo-container img {
  width: 65px;
  height: auto;
}

.inner-footer .footer-third {
  width: 20%;
  margin-right: 3px;
  float: left;
  height: 100%;
}

.inner-footer .footer-third:last-child {
  margin-right: 0;
}

.inner-footer .footer-third h1 {
  font-size: 22px;
  color: #f0ebe5;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner-footer .footer-third a {
  font-size: 18px;
  color: #f0ebe5;
  display: block;
  width: 100%;
  font-weight: 200;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.inner-footer .footer-third li {
  display: inline-block;
  padding: 0 5px;
}

.hero-button {
  background-color: #faf0b9;
  padding: 0.75rem 1.5rem;
  border-radius: 32px;
  width: max-content;
  cursor: pointer;
  border: none;
  color: #000;

  font-size: 1.25rem;
  text-align: center;
  line-height: 120%;
  font-weight: 400;

  transition: transform 0.2s ease-in-out;
}
